{% extends 'layout.html.twig' %}

{% block content %}
    {% if result %}
        <div class="content result-block">
            {% if result.isOk %}
                <h2>Well done! All messages were sent.</h2>
            {% else %}
                <h2>A technical error occurred when sending messages to users</h2>

                <div class="result-error">
                    <p>
                        "{{ result.error }}"
                    </p>

                    <p>
                        Here is the list of users that were not informed:
                    </p>

                    <ul>
                        {% for giver,receiver in result.remainingAssociations %}
                            <li><strong>@{{ giver }}</strong> must offer a gift to <strong>@{{ receiver }}</strong></li>
                        {% endfor %}
                    </ul>

                    <p>
                        Sorry for the inconvenience, you will need to contact them <strong>manually</strong>.
                        <a href="https://github.com/jolicode/slack-secret-santa/issues">Let us know too!</a>
                    </p>
                </div>
            {% endif %}

            <p class="summary">
                A summary of the repartition is available for download. Keep it secret, even for you, to avoid breaking the Secret Santa spirit.<br />
                Be aware that we do not persist anything forever so the summary is only available now, you will not be able to get it back later.<br />
                <a href="{{ path('summary', {hash: result.hash}) }}" download="summary.txt">Download the summary</a>.
            </p>

            <div class="is-center">
                <a href="{{ path('run') }}" class="big-button">
                    <span class="fa fa-repeat" aria-hidden="true"></span>
                    Start another Secret Santa
                </a>
            </div>
        </div>
    {% endif %}
{% endblock content %}

{% block footerClass %}stick-bottom{% endblock %}
