{% extends 'santa/exclusions.html.twig' %}

{% macro user_item(user, imageSize) %}
    {% if user.extra.image %}
        <img src="{{ user.extra.image }}" alt="{{ user.name }}" width="{{ imageSize }}" height="{{ imageSize }}" loading="lazy" />
    {% endif %}
    <span title="{{ user.name }}{% if user.extra.nickname %} ({{ user.extra.nickname }}){% endif %}">{{ user.name }}</span>
{% endmacro %}
