{% extends 'santa/participants.html.twig' %}

{% set hasRestrictedUser = true %}

{% import _self as current %}

{% block content %}
    <div class="run-block" style="margin-bottom: 0;">
        <p class="error" style="width: 80%; margin: 10px auto; text-align: center;">
            Please be aware that Zoom.us support is in beta right now.<br>
            Also, the Linux Zoom client does not display messages correctly.<br>
            Help us by reporting any suspicious behavior <a href="https://github.com/jolicode/secret-santa">on
                Github</a>
            or via <a href="mailto:hello@secret-santa.team">email</a>!
        </p>
    </div>

    {{ parent() }}

    <div class="run-block is-center">
        <p><em>Secret Santa can be removed from your account by following
                <a href="{{ path('faq', { _fragment: 'zoom-uninstall' }) }}">those instructions</a>.</em></p>
    </div>
{% endblock content %}

{% macro userSummary(user) %}
    <span class="user-summary">
        {% if user.extra.image %}
            <img src="{{ user.extra.image }}" alt=""/>
        {% endif %}
        <span>{{ user.name }}</span>
        <span data-uncheck-user="user-{{ user.identifier }}" class="fas fa-times" title="Unselect this user"></span>
    </span>
{% endmacro %}

{% block user_item %}
    <label
            class="user-item {{ user.extra.restricted ? 'restricted' : '' }}"
            for="user-{{ user.identifier }}"
            data-search-index="{{ user.name }}"
    >
        <div class="data-summary"
             data-summary="{{ current.userSummary(user)|escape('html_attr')|raw }}"
             data-identifier=""{{ user.identifier }}>
            {{ form_widget(userForm, {'attr': {
                'data-summary': current.userSummary(user)|escape('html_attr')|raw,
                'data-identifier': user.identifier
            }}
            ) }}
        </div>

        {% if user.extra.image %}
            <img src="{{ user.extra.image }}" alt="{{ user.name }}"/>
        {% endif %}
        <span>{{ user.name }}</span>
        {% if groups %}
            <span class="user-groups">
                {% for group in groups %}
                    {% if user.identifier in group.userIds %}
                        <span class="user-group">{{ group.name }}</span>
                    {% endif %}
                {% endfor %}
            </span>
        {% endif %}
    </label>
{% endblock %}
