{% extends 'santa/participants.html.twig' %}

{% import _self as current %}

{% macro userSummary(user) %}
    <span class="user-summary">
        {% if user.extra.image %}
            <img src="{{ user.extra.image }}" alt="" loading="lazy" />
        {% endif %}
        <span>{{ user.name }}</span>
        <button type="button" data-uncheck-user="id_{{ user.identifier }}" class="fas fa-times" title="Unselect this user"></button>
    </span>
{% endmacro %}

{% block user_item %}
    <label
            class="user-item"
            for="id_{{ user.identifier }}"
            data-search-index="{{ user.name ~ ' ' ~ user.extra.nickname }}"
    >
        <div class="data-summary"
             data-summary="{{ current.userSummary(user)|escape('html_attr')|raw }}"
        >
            <input type="checkbox" name="selectedUsers[]"
                   {% if user.identifier in selectedUsers %}checked="checked"{% endif %}
                   value="{{ user.identifier }}" id="id_{{ user.identifier }}">
        </div>

        {% if user.extra.image %}
            <img src="{{ user.extra.image }}" alt="{{ user.name }}" loading="lazy" height="32" width="32" />
        {% endif %}
        <span>{{ user.name }}{% if user.extra.nickname %} ({{ user.extra.nickname }}){% endif %}</span>
        {% if groups %}
            <span class="user-groups">
                {% for group in groups %}
                    {% if user.identifier in group.userIds %}
                        <span class="user-group">{{ group.name }}</span>
                    {% endif %}
                {% endfor %}
            </span>
        {% endif %}
    </label>
{% endblock %}

{% block disclaimer %}
    <p>To receive their message, participants must allow direct messages from server members. (See <a
                href="{{ path('faq', {'_fragment': 'discord-server-dm'}) }}" target="_blank">F.A.Q</a>)</p>
{% endblock %}
