{% extends 'santa/participants.html.twig' %}

{% import _self as current %}

{% macro userSummary(user) %}
    <span class="user-summary">
        {% if user.extra.image %}
            <img src="{{ user.extra.image }}" alt="" />
        {% endif %}
        <span>{{ user.name }}</span>
        <span data-uncheck-user="user-{{ user.identifier }}" class="fas fa-times" title="Unselect this user"></span>
    </span>
{% endmacro %}

{% block user_item %}
    <label
            class="user-item"
            for="user-{{ user.identifier }}"
            data-search-index="{{ user.name ~ ' ' ~ user.extra.nickname }}"
    >
        <input type="checkbox"
               {{ user.identifier in selectedUsers ? 'checked="checked"' : '' }}
               name="users[]"
               value="{{ user.identifier }}"
               id="user-{{ user.identifier }}"
               data-summary="{{ current.userSummary(user)|escape('html_attr') }}"
        >
        {% if user.extra.image %}
            <img src="{{ user.extra.image }}" alt="{{ user.name }}" />
        {% endif %}
        <span>{{ user.name }}{% if user.extra.nickname %} ({{ user.extra.nickname }}){% endif %}</span>
        {% if groups %}
            <span class="user-groups">
                {% for group in groups %}
                    {% if user.identifier in group.userIds %}
                        <span class="user-group">{{ group.name }}</span>
                    {% endif %}
                {% endfor %}
            </span>
        {% endif %}
    </label>
{% endblock %}

{% block disclaimer %}
    <p>To receive their message, participants must allow direct messages from server members. (See <a href="{{ path('faq', {'_fragment': 'discord-server-dm'}) }}" target="_blank">F.A.Q</a>)</p>
{% endblock %}
