{% extends 'santa/participants.html.twig' %}

{% set hasRestrictedUser = true %}

{% import _self as current %}

{% macro userSummary(user) %}
    <span class="user-summary">
        <img src="{{ user.extra.image }}" alt=""/>
        <span>{{ user.extra.nickname }}</span>
        <span data-uncheck-user="user-{{ user.identifier }}" class="fas fa-times" title="Unselect this user"></span>
    </span>
{% endmacro %}

{% block user_item %}
    {% set user = userForm.parent.vars.choices[userForm.vars.name].data %}

    <label
            class="user-item {{ user.extra.restricted ? 'restricted' : '' }}"
            for="{{ userForm.vars.id }}"
            data-search-index="{{ user.name ~ ' ' ~ user.extra.nickname }}"
    >

        <div class="data-summary"
             data-summary="{{ current.userSummary(user)|escape('html_attr')|raw }}">
            {{ form_widget(userForm, {'attr': {
                'data-identifier': user.identifier
            }}
            ) }}
        </div>
        <img src="{{ user.extra.image }}" alt="{{ user.name }}"/>
        <span>{{ user.name }} ({{ user.extra.nickname }})</span>
        {% if groups %}
            <span class="user-groups">
                {% for group in groups %}
                    {% if user.identifier in group.userIds %}
                        <span class="user-group">{{ group.name }}</span>
                    {% endif %}
                {% endfor %}
            </span>
        {% endif %}
    </label>
{% endblock %}
