{% extends 'santa/validate.html.twig' %}

{% block user_item %}
    <span class="user-summary">
        <img src="{{ user.extra.image }}" alt="{{ user.name }}"/>
        <span title="{{ user.name }} ({{ user.extra.nickname }})">{{ user.name }}</span>
    </span>
{% endblock %}
