{% extends 'layout.html.twig' %}

{% block content %}
    {% if users %}
        <form method="post">
            <div class="form-group">
                <label for="message">Users</label>
                {% spaceless %}
                    <div class="list-group checked-list-box">
                        {% for user in users if not user.isBot and not user.deleted %}
                            <label class="list-group-item" for="user-{{ user.id }}">
                                <input type="checkbox" name="users[]" value="{{ user.name }}" id="user-{{ user.id }}">
                                <img src="{{ user.profile.image32 }}" alt="{{ user.profile.realName }}" />
                                <span>{{ user.profile.realName }} ({{ user.name }})</span>
                            </label>
                        {% endfor %}
                    </div>
                {% endspaceless %}
            </div>

            <div class="form-group">
                <label for="message">Custom message</label>
                <textarea name="message" id="message" class="form-control" rows="3"></textarea>
                <p class="help-block">Anything you want, but this is the right place to give a deadline and a price limit!</p>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">What happens next?</div>
                <div class="panel-body">
                    <p>
                        We are going to shuffle selected users and send them all a private message in Slack, looking like this:
                    </p>

                    <p class="text-center">
                        <img src="/images/sample.png" alt="Slack Secret Santa Sample" class="img-thumbnail" />
                    </p>

                    <p>
                        Anything else is up to you, have fun!
                    </p>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-danger btn-lg">
                    <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                        Send Secret Santa messages!
                </button>
            </div>

        </form>
    {% else %}
        <div class="alert alert-danger" role="alert">No user found.</div>
    {% endif %}
{% endblock content %}
