{% extends 'layout.html.twig' %}

{% block content %}
    <div class="stats">
        <div class="jumbotron">
            <div class="jumbotron-inner">
                <h1>Secret Santa Statistics</h1>
                <p>
                    Ho, ho, ho, here are the statistics of Secret Santa
                    <small>(since 10/2018)</small>
                </p>
            </div>
        </div>

        <div class="container-charts">
            <h2 class="content-head is-center">Number of Secret Santa per month</h2>
            <div class="chart chart-month">
                {% set stats = statisticsCounter.month %}
                {% if stats %}
                    {% for dateName, counter in stats %}
                        <div  class="graph-column">
                            <div class="graph-counterValue">{{ counter }}</div>
                            <div class="graph-bar" style="height: {{ (counter / max(stats)) * 300 }}px;"></div>
                            <div class="graph-legend-x">{{ dateName|replace({'date:' : ''}) }}</div>
                        </div>
                    {% endfor %}
                {% else  %}
                    <p>Sorry, there is no statistic for this section yet 🙈</p>
                {% endif %}
            </div>

            <h2 class="content-head is-center">Number of Secret Santa per year</h2>
            <div class="chart chart-year">
                {% set stats = statisticsCounter.year %}
                {% if stats %}
                    {% for dateName, counter in stats %}
                        <div class="graph-column">
                            <div class="graph-counterValue">{{ counter }}</div>
                            <div class="graph-bar" style="height: {{ (counter / max(stats)) * 300 }}px;"></div>
                            <div class="graph-legend-x">{{ dateName|replace({'date:' : ''}) }}</div>
                        </div>
                    {% endfor %}
                {% else  %}
                    <p>Sorry, there is no statistic for this section yet 🙈</p>
                {% endif %}
            </div>

            <h2 class="content-head is-center">Number of Secret Santa per service</h2>
            <div class="chart chart-total">
                {% set stats = statisticsCounter.total %}
                {% if stats %}
                    {% for dateName, counter in stats %}
                        <div class="graph-column">
                            <div class="graph-counterValue">{{ counter }}</div>
                            <div class="graph-bar" style="height: {{ (counter / max(stats)) * 300 }}px;"></div>
                            <div class="graph-legend-x">{{ dateName|replace({'date:' : '', 'date:total-' : ''})|capitalize }}</div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Sorry, there is no statistic for this section yet 🙈</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}
