{% extends 'base.html.twig' %}

{% macro step(currentStep, label, icon, step, link = null) %}
    <li class="{{ step <= currentStep ? 'current' }}">
        {% if link and step <= currentStep ? 'current' %}
            <a href="{{ link }}">
        {% else %}
            <span>
        {% endif %}

        <span class="fas fa-{{ icon }}" aria-hidden="true"></span> {{ label }}

        {% if link and step <= currentStep ? 'current' %}
            </a>
        {% else %}
            </span>
        {% endif %}
    </li>
{% endmacro %}

{% block content %}
    <nav class="is-center">
        <ol class="breadcrumb">
            {{ _self.step(currentStep, 'Participants', 'users', 1, path('participants', {application: application})) }}
            {{ _self.step(currentStep, 'Exclusions', 'ban', 2, path('exclusions', {application: application})) }}
            {{ _self.step(currentStep, 'Customization', 'pen', 3, path('message', {application: application})) }}
            {{ _self.step(currentStep, 'Validation', 'check', 4) }}
            {{ _self.step(currentStep, 'Sending', 'paper-plane', 5) }}
            {{ _self.step(currentStep, 'Finish', 'flag-checkered', 6) }}
        </ol>
    </nav>

    <div class="">
        {% block santa_content %}{% endblock %}
    </div>
{% endblock %}
