{% extends 'layout.html.twig' %}

{% block content %}
    <div class="content result-block">
        {% if secretSanta.isDone %}
            <h2>Well done! All messages were sent</h2>
        {% else %}
            <h2>A technical error occurred when sending messages to users</h2>

            <div class="result-error">
                <p>
                    "{{ secretSanta.errors|last }}"
                </p>

                <p>
                    Here is the list of users that were not informed:
                </p>

                <ul>
                    {% for giver,receiver in secretSanta.remainingAssociations %}
                        <li><strong>@{{ giver }}</strong> must offer a gift to <strong>@{{ receiver }}</strong></li>
                    {% endfor %}
                </ul>

                <div class="is-center">
                    <a href="{{ path('retry', {hash: secretSanta.hash}) }}" class="big-button warning-btn" id="retry-button">
                        <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
                        Try to send the remaining messages
                    </a>
                </div>

                <script type="text/javascript">
                    var secretSantaRetried = false;

                    var retryButton = document.getElementById('retry-button');

                    /**
                     * Prevent the multi-click of the button
                     */
                    retryButton.addEventListener('click', function(e) {
                        if (secretSantaRetried) {
                            e.preventDefault();
                        } else {
                            secretSantaRetried = true;
                            retryButton.children[0].className = 'fa fa-hourglass-start';
                        }
                    }, false);
                </script>

                <p>
                    Sorry for the inconvenience. If the retry button did not work, you can still contact them <strong>manually</strong>.
                    <a href="https://github.com/jolicode/slack-secret-santa/issues">Let us know too!</a>
                </p>
            </div>
        {% endif %}

        <p class="summary">
            You have received a private message explaining how to retrieve the santa repartition. You should probably don't look at it, to avoid breaking the Secret Santa spirit.
        </p>

        <div class="is-center">
            <a href="{{ path('run') }}" class="big-button">
                <span class="fa fa-repeat" aria-hidden="true"></span>
                Start another Secret Santa
            </a>
        </div>

        <div class="is-center">
            <a href="{{ path('hall_of_fame') }}" class="big-button">
                <span class="fa fa-star" aria-hidden="true"></span>
                Add your company to the Hall of Fame!
            </a>
        </div>
    </div>
{% endblock content %}
