{% extends 'layout.html.twig' %}

{% block content %}
    <div class="content result-block">
        {% if secretSanta.isDone %}
            <h2>Well done! All messages were sent, happy gifting!</h2>

            <p class="summary">
                You have received a private message explaining how to retrieve the santa repartition. 
                You should probably don't look at it, to avoid breaking the Secret Santa magic.
            </p>
        {% else %}
            <h2>😱 It takes too much time to send all the messages!</h2>

            <div class="result-error">
                <p>
                    Sometimes, even Santa run into problems when doing its job. But keep reading, everything is not lost!
                </p>

                <h3>We need you to send the remaining messages</h3>

                <p>
                    Here is the list of users that didn't reveive their Secret Santa message <strong>yet</strong> (click <button id="reveal" class="">here</button> to reveal the receivers):
                </p>

                <ul>
                    {% for giver,receiver in secretSanta.remainingAssociations %}
                        <li><strong>{{ secretSanta.user(giver).name|default(secretSanta.user(giver).identifier) }}</strong> must offer a gift to <strong data-receiver="{{ secretSanta.user(receiver).name|default(secretSanta.user(receiver).identifier) }}">xxxxx</strong></li>
                    {% endfor %}
                </ul>

                <script type="text/javascript" nonce="{{ csp_nonce('script') }}">
                    var revealButton = document.getElementById('reveal');

                    revealButton.addEventListener('click', function(e) {
                        var receivers = document.querySelectorAll('*[data-receiver]');

                        for (var i=0; i<receivers.length; i++) {
                            receivers[i].innerHTML = receivers[i].getAttribute('data-receiver');
                        }
                    }, false);
                </script>

                <h3>The solution</h3>

                <p>
                    Please <strong>click the Continue</strong> button below to <strong>safely</strong> inform the remaining users as if nothing happened.
                </p>

                <div class="is-center">
                    <a href="{{ path('retry', {hash: secretSanta.hash}) }}" class="big-button warning-btn" id="retry-button">
                        <span class="fas fa-exclamation-triangle" aria-hidden="true"></span>
                        Continue - Send the remaining messages
                    </a>
                </div>
                
                <p>
                    For information, here is the evil error that caused this failure:
                </p>

                <div class="error-code">
                    {% for error in secretSanta.uniqueErrors %}
                        <span>{% if loop.length > 1 %}- {% endif %}{{ error }}</span><br />
                    {% endfor %}
                </div>
                
                <p>Note that errors are often due to <strong>temporary network problems</strong> when sending messages or if your secret santa has <strong>lot of users</strong>.</p>

                <script type="text/javascript" nonce="{{ csp_nonce('script') }}">
                    var secretSantaRetried = false;

                    var retryButton = document.getElementById('retry-button');

                    /**
                     * Prevent the multi-click of the button
                     */
                    retryButton.addEventListener('click', function(e) {
                        if (secretSantaRetried) {
                            e.preventDefault();
                        } else {
                            secretSantaRetried = true;
                            retryButton.children[0].className = 'fas fa-hourglass-start';
                        }
                    }, false);
                </script>

                <p>
                    Sorry for the inconvenience. If the retry button did not work, you can still contact them <strong>manually</strong>.
                    <a href="https://github.com/jolicode/secret-santa/issues">Let us know too!</a>
                </p>
            </div>
        {% endif %}

        <div class="is-center">
            <a href="{{ path('homepage') }}" class="big-button">
                <span class="fas fa-redo" aria-hidden="true"></span>
                Start another Secret Santa
            </a>
        </div>

        <div class="is-center">
            <a href="{{ path('hall_of_fame') }}" class="big-button">
                <span class="fas fa-star" aria-hidden="true"></span>
                Add your company to the Hall of Fame!
            </a>
        </div>
    </div>
{% endblock content %}
