{% set title = title|default('Secret Santa - The Secret Santa bot for your Slack or Discord team') %}
{% set description = description|default('An application to throw Secret Santa with your team on Slack, Discord, etc.') %}

<title>{{ title }}</title>
<meta name="description" content="{{ description }}">
<meta name="author" content="JoliCode">
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="{{ description }}" />
<meta property="og:url" content="{{ app.request.uri }}" />
