{% set title = title|default('Secret Santa App - The Secret Santa bot for your Slack or Discord team') %}
{% set description = description|default('A free application to throw Secret Santa with your team on Slack or Discord and share gifts during the holidays!') %}

<title>{{ title }}</title>
<meta name="description" content="{{ description }}">
<meta name="author" content="JoliCode">
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="{{ description }}" />
<meta property="og:url" content="{{ app.request.uri }}" />
<meta property="og:image" content="{{ absolute_url(asset('og-cover.png')) }}" />
<meta property="og:image:alt" content="{{ title }}">
<meta name="twitter:card" content="summary_large_image">
