<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ asset('apple-touch-icon-57x57.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ asset('apple-touch-icon-60x60.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('apple-touch-icon-72x72.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset('apple-touch-icon-76x76.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('apple-touch-icon-114x114.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset('apple-touch-icon-120x120.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('apple-touch-icon-144x144.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset('apple-touch-icon-152x152.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="180x180" href="{{ asset('apple-touch-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}" />
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}" />
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('favicon-96x96.png') }}" />
        <link rel="icon" type="image/png" sizes="128x128" href="{{ asset('favicon-128x128.png') }}" />
        <link rel="icon" type="image/png" sizes="196x196" href="{{ asset('favicon-196x196.png') }}" />
        <link rel="manifest" href="{{ asset('manifest.json') }}">
        <meta name="theme-color" content="#E03A4D">
        <meta name="application-name" content="Secret Santa"/>
        <meta name="msapplication-TileColor" content="#E03A4D" />
        <meta name="msapplication-TileImage" content="{{ asset('mstile-144x144.png') }}" />
        <meta name="msapplication-square70x70logo" content="{{ asset('mstile-70x70.png') }}" />
        <meta name="msapplication-square150x150logo" content="{{ asset('mstile-150x150.png') }}" />
        <meta name="msapplication-wide310x150logo" content="{{ asset('mstile-310x150.png') }}" />
        <meta name="msapplication-square310x310logo" content="{{ asset('mstile-310x310.png') }}" />

        <meta name="slack-app-id" content="A0E7EFUB1">

        {% block seo %}
            {{ include('_seo.html.twig') }}
        {% endblock %}

        <link rel="stylesheet" href="{{ asset('style.css') }}">
        <link  rel="stylesheet" href="{{ asset('fontawesome/css/all.css') }}">
    </head>
    <body>

        <header class="header">
            <div class="home-menu pure-menu pure-menu-horizontal">
                <div class="pure-menu-heading">
                    <a href="{{ path('homepage') }}">
                        <div class="logo-wrapper">
                            <img src="{{ asset('images/logo' ~ (spoilInProgress is defined ? '-spoiler' : '') ~ '.png') }}" alt="Secret Santa" />
                        </div>
                        <div>
                            <div class="site-brand">
                                Secret Santa
                            </div>
                            <div class="site-headline">
                                Share the Christmas spirit<br/>with your team
                            </div>
                        </div>
                    </a>
                </div>

                <ul class="pure-menu-list">
                    <li class="pure-menu-item">
                        <a class="pure-menu-link" href="{{ path('hall_of_fame') }}"><i class="fas fa-star"></i> Hall of Fame</a>
                    </li>
                    <li class="pure-menu-item">
                        <a class="pure-menu-link" href="{{ path('faq') }}"><i class="fas fa-question"></i> FAQ</a>
                    </li>
                    <li class="pure-menu-item">
                        <a target="_blank" rel="noreferrer" class="pure-menu-link" href="https://github.com/jolicode/secret-santa/"><i class="fab fa-github"></i> Star us on GitHub</a>
                    </li>
                </ul>
            </div>
        </header>

        <div class="content-wrapper">
            {% block content %}
            {% endblock content %}

            <footer class="footer is-center {% block footerClass %}{% endblock %}">
                {% block contact %}
                    <a href="mailto:hello@secret-santa.team" class="support-link"><i class="far fa-life-ring"></i> Need help? Contact us!</a>
                {% endblock contact %}
                <p>
                    This free service to share the santa spirit is made with ♥ by <a href="https://jolicode.com">JoliCode</a>.
                    <br>
                    Hosted gracefully by the awesome people at <a href="https://www.clever-cloud.com/">Clever Cloud</a>.
                    <br>
                    Emoji and logo provided by <a href="https://www.emojione.com/">Emoji One</a>.
                    <br>
                    Sharing gifts since 2015.
                </p>
                <p>
                    <a href="{{ path('terms') }}">Terms of Service</a>
                    and
                    <a href="{{ path('privacy_policy') }}">Privacy Policy</a>
                </p>
            </footer>
        </div>
    </body>
</html>
