<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">

        <meta name="slack-app-id" content="A0E7EFUB1">

        {% block seo %}
            {{ include('_seo.html.twig') }}
        {% endblock %}

        <link rel="stylesheet" href="{{ asset('style.css') }}">
        <link  rel="stylesheet" href="{{ asset('fontawesome/css/all.css') }}">
    </head>
    <body>

        <header class="header">
            <div class="home-menu pure-menu pure-menu-horizontal">
                <div class="pure-menu-heading">
                    <a href="{{ path('homepage') }}">
                        <div class="logo-wrapper">
                            <img src="{{ asset('images/logo' ~ (spoilInProgress is defined ? '-spoiler' : '') ~ '.png') }}" alt="Secret Santa" />
                        </div>
                        <div>
                            <div class="site-brand">
                                Secret Santa
                            </div>
                            <div class="site-headline">
                                Share the Christmas spirit<br/>with your team
                            </div>
                        </div>
                    </a>
                </div>

                <ul class="pure-menu-list">
                    <li class="pure-menu-item">
                        <a class="pure-menu-link" href="{{ path('hall_of_fame') }}"><i class="fas fa-star"></i> Hall of Fame</a>
                    </li>
                    <li class="pure-menu-item">
                        <a target="_blank" rel="noreferrer" class="pure-menu-link" href="https://github.com/jolicode/secret-santa/"><i class="fab fa-github"></i> Fork me on GitHub</a>
                    </li>
                </ul>
            </div>
        </header>

        <div class="content-wrapper">
            {% block content %}
            {% endblock content %}

            <footer class="footer is-center {% block footerClass %}{% endblock %}">
                {% block contact %}
                    <a href="mailto:hello@secret-santa.team" class="support-link"><i class="far fa-life-ring"></i> Need help? Contact us!</a>
                {% endblock contact %}
                <p>
                    This free service to share the santa spirit is made with ♥ by <a href="https://jolicode.com">JoliCode</a>.
                    <br>
                    Hosted gracefully by the awesome people at <a href="https://www.clever-cloud.com/">Clever Cloud</a>.
                    <br>
                    Emoji and logo provided by <a href="https://www.emojione.com/">Emoji One</a>.
                    <br>
                    Sharing gifts since 2015.
                </p>
                <p>
                    <a href="{{ path('terms') }}">Terms of Service</a>
                    and
                    <a href="{{ path('privacy_policy') }}">Privacy Policy</a>
                </p>
            </footer>
        </div>
    </body>
</html>
